
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tinos', serif;

    /*margin: 0%;*/
    /*padding: 0%;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
    /*background: #0f0f0f;*/
}
/* Topbar start  */
nav{
    background-color: #feb564;

}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 5px;
}
li a, .dropbtn {
    display: inline;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content i{
      padding-left: 10px;

  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* Topbar End  */

/* Navbar Start  */
.searchbar{
    border-radius: 50px;
    padding: 10px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:black;
    background: white;
    border-radius: 50px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    color: white;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    hr{
        margin: 0;
        padding: 0;
    }
    
    .nav-image{
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .nav-text{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        -ms-transform: translate(-10%, -10%);
        text-align: center;
    }
    .nav-grid:hover .nav-image{
        opacity: 0.6;
    }
    .nav-grid:hover .nav-text{
        opacity: 1;
    }
    .nav-text span{
        text-align: center;
        color: white;
    
    }

/* Navbar End  */
/* Featured Products Section Start */
.float-icons ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.product-grid {
    text-align: center;
    padding: 0 0 72px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 300px;
}

.product-grid .product-image {
    position: relative;
    transition: all .5s ease 0s;
}

.product-grid .product-image a {
    display: block;
}

.product-grid .product-imag img {
    width: 100%;
    height: auto;
}
.float-icons{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.product-grid .pic1 {
    opacity: 1;
    transition: all .5s ease-out 0s;
    backface-visibility: hidden;
}

.product-grid:hover .pic1 {
    opacity: 1;
    transform: scale(1.5);

}
.product-grid:hover .float-icons {
    opacity: 1;

}
.product-grid .product-image a i {
    color: black;
    background-color:white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
  }
.float-icons a:hover i{
    color: white;
    background-color: #feb564;
}
.product-content {
    text-align: center;
    padding: 0 0 72px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Featured Products Section End */


/* Vlog section Start */
.vlog-left{
    background-image: url(images/vlog-1.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 920px;
    height: auto;
}
.vlog-left h1{
    padding-top: 320px;
}
.card{
    border: none;
}

/* Vlog section End */


/* Social Media Image Section start  */
.media{
    background-color: #f5f5f5;
}
.social-image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.social-text{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.social-grid:hover .social-image{
    opacity: 0.6;
}
.social-grid:hover .social-text{
    opacity: 1;
}
.social-text h3{
    text-align: center;
    color: white;

}

/* Social Media Image section end  */

/* offer section start  */
.offer-right{
    background-image: url(images/offer-1.jpg);
    min-height: 664px;
    color: black;
    background-position: center;
    background-size: cover;
}
.offer-left {
    background-color: rgb(254,181,101);
    min-height: 664px;
    color: black;
    background-position: center;
    background-size: cover;
}

.offer-left img {
    width: 120px;
    height: 120px;
    float: right;
    display: inline;
    border-radius: 50%;
}
.offer-left-content{
    padding: 80px;
}
.offer-left-content p{
    line-height: 2;
}
/* offer section end  */


/* Special Services Start */
.service{
    height: 240px;
}
.vertical-line{
    width: 1px;
    background-color: gray;
    height: 100%;
    float: right; 
}

/* Special Services End */


/* footer section start */
.align-top {
    vertical-align: top;
}
.img-thumbnail {
    width: 300px;
    height: 100px;
}

.footer-right {
    color: white;
    background-color: rgb(110, 106, 106);

}

.footer-left {
    color: white;
    background-image: url(https://images.unsplash.com/photo-1553925441-bc065758887d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80);
    background-position: center;
    background-size: cover;
}

.footer-right ul {
    list-style-type: none;
}

.footer-right ul li a {
    color: white;
    padding: 4px;
    text-decoration: none;
}

.footer-right ul li a:hover {
    color: rgb(255, 87, 25);
    text-decoration: none;
}
tr td a {
    color: white;
    padding: 4px;
    text-decoration: none;
}


tr td a:hover {
    color: rgb(255, 87, 25);
    text-decoration: none;
}

.fa {
    padding-right: 10px;
}

/* footer section end */

.image-slider {
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.image-slide {
    height: 100vh;
    margin: 0 auto;
}

.slick-slide.slick-center {
    transform: scale(1.2);
    transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
    transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.slider-control {
    margin: 0%;
    position: absolute;
    z-index: 2;
    bottom: 4%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
}

button {
    color: #fff;
    background: none;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    margin: .4em;
    display: inline-block;
}

button:focus {
    outline: none;
}

.block-1 {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 5%;
    left: 0%;
    background: #0f0f0f;
}

.block-2 {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 25%;
    left: 25%;
    background: #0f0f0f;
}

.block-3 {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 5%;
    right: 0%;
    background: #0f0f0f;
}

.overlay {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 20%;
    left: 5%;
    background: rgba(0, 0, 0, .65);
}

.text-slider-wrapper {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 30%;
}

.text-slider {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.text-slide h1 {
    color: #fff;
    font-size: 64px;
    font-family: "Cinzel";
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 10%;
}

@media(max-width: 990px) {
    .block-2, .overlay {
        display: none;
    }

    .block-1 {
        width: 50%;
    }

    .block-3 {
        width: 12%;
    }

    .slide-slick {
        display: none !important;
    }

    .text-slide h1 {
        font-size: 30px !important;
    }

    .text-slider-wrapper {
        position: absolute;
        top: 50% !important;
    }

    .slider-control {
        left: 22.5%;
    }
}
